[submodule "deps/metaplex-program-library"]
	path = deps/metaplex-program-library
	url = https://github.com/metaplex-foundation/metaplex-program-library
[submodule "deps/multisig"]
	path = deps/multisig
	url = git@github.com:coral-xyz/multisig.git
